
.faceBox{
  width: 100%;
  height: 100vh;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient( to bottom, darkblue, whitesmoke);
  
}
.faceLogo:hover{
  transform: rotate(360deg);
  transition: all 2.5s;
}

.faceLorem{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

p{
  width: 50%;
}